* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header nav .colortopazul {
  background-color: #010C80;
  display: flex;
  justify-content: center;
  align-items: center; }
  header nav .colortopazul .LogoPrincipal {
    background-color: #010C80;
    width: 10.375rem;
    display: flex;
    justify-content: center;
    align-items: center; }

header nav .LineaBlanca {
  border-top: 0.6rem solid white; }

header nav .SubHeader {
  background-color: #010c80;
  display: flex;
  flex-direction: row;
  justify-items: center; }
  header nav .SubHeader ul li {
    font-size: 1.125rem;
    text-decoration: none;
    display: inline-flex;
    justify-content: flex-end;
    padding: 1.5625rem;
    height: 4.6875rem; }
    header nav .SubHeader ul li a {
      color: white;
      text-decoration: none;
      margin-right: .625rem; }
