@media (min-width:1024px){
    main{
        //tecnologia//
        div {
            .TextoMain {
                .TextNuestra {
                    margin-left: 1.9375rem;
                    font-size: 1.875rem;
                }
    
                .TextTecnologias {
                    margin-left: 2.25rem;
                    font-size: 1.8125rem;
                }
            }
    
            .CardTecnologiaUnica {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 18.75rem;
                margin-right: 0rem;
                
                p {
                    font-size: 1.0625rem;
                    width: auto;
                    margin-right: .0625rem;
                    text-align: center;
                }
            }
        }
    
        .cards-TecnologiasVarias {
            ul {
                margin-left: 2.9375rem;
                margin-bottom: 2.875rem;
                display: grid !important;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            grid-gap: 35px;
                li {
                    width: 17.1875rem;
                    height: 21.875rem;
    
                }
            }
        }
    
        div {
            .TecnlogiaMain {
                height: 20rem;
            }
        }
    
    
    }

}