@media (min-width:768px) {
    main {
        .cardForm {
            .cardsMain {
                margin-left: 7.50rem;
                .cardSucursal {
                    border: 0.125rem solid #010C80;
                    width: 11rem;
                    height: 9rem;
                    border-radius: 0.4375rem;
                    text-align: center;
                    margin-left: 0px;
                    margin-top: 0px;
                }
                .cardEstado {
                    border: 0.125rem solid #010C80;
                    width: 11rem;
                    height: 9rem;
                    border-radius: 0.4375rem;
                    text-align: center;
                    margin-left: 0px;
                    margin-top: 0px;
                }
                .cardChequee {
                    border: 0.125rem solid #010C80;
                    width: 11rem;
                    height: 9rem;
                    border-radius: 0.4375rem;
                    text-align: center;
                    margin-left: 0px;
                    margin-top: 0px;
                }
                .cardCotizacion {
                    border: 0.125rem solid #010C80;
                    width: 11rem;
                    height: 9rem;
                    border-radius: 0.4375rem;
                    text-align: center;
                    margin-left: 0px;
                    margin-top: 0px;
                }
            }
        }
    }
}