footer {
    background-color: $color-primario;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .4688rem;

    .grid-footer {
        display: grid;
        grid-template-columns: 10px 50px;
        grid-gap: 30px;
        grid-template-areas:
            "contactoIcono contacto"
        ;

        .contactoIcono {
            width: 1.875rem;
            height: 1.875rem;
            margin-left: .625rem;
        }

        .contacto {
            color: #000000;
            font-size: .9375rem;
            background-color: #D9D9D9;
            height: 1.8rem;
            width: 6rem;
            border: .300rem solid $color-primario;
            border-radius: .4375rem;
            margin-left: .625rem;

            h5 {
                padding-left: 0.5rem;
            }
        }
    }

    div {
        .redesfooter {
            ul {
                width: 1.875rem;
                height: 1.875rem;
                display: flex;
                justify-content: flex-end;
                list-style: none;
                margin: .625rem;
                li{
                    a{
                        margin-left: .9375rem;
                    }
                }
            }
        }
    }
}